#!/usr/bin/make -f
# -*- mode:makefile -*-
##### Author: Travis Cross <tc@traviscross.com>

#export DH_VERBOSE=1

FS_CC?=gcc
FS_CXX?=g++
FS_CFLAGS?=-g3 -O2 -fPIC
FS_CPPFLAGS?=
FS_CXXFLAGS?=$(FS_CFLAGS)
export PATH?=/usr/lib/ccache:/usr/sbin:/usr/bin:/sbin:/bin
export CC=$(FS_CC)
export CXX=$(FS_CXX)
export CFLAGS=$(FS_CFLAGS)
export CPPFLAGS=$(FS_CPPFLAGS)
export CXXFLAGS=$(FS_CXXFLAGS)

show_vars= \
    echo; \
    echo "Making target $@"; \
    echo "PATH='$(PATH)'"; \
    echo "CC='$(CC)'"; \
    echo "CXX='$(CXX)'"; \
    echo "CFLAGS='$(CFLAGS)'"; \
    echo "CPPFLAGS='$(CPPFLAGS)'"; \
    echo "CXXFLAGS='$(CXXFLAGS)'"; \
    echo "CCACHE_DIR='$(CCACHE_DIR)'"; \
    echo;

binary:
	@$(call show_vars)
	dh $@
binary-arch:
	@$(call show_vars)
	dh $@
binary-indep:
	@$(call show_vars)
	dh $@
build-arch:
	@$(call show_vars)
	dh $@
build-indep:
	@$(call show_vars)
	dh $@
build: debian/.stamp-bootstrap
	@$(call show_vars)
	dh $@
clean:
	dh $@

override_dh_auto_clean:
	dh_clean

.stamp-bootstrap:
	@$(call show_vars)
	./bootstrap.sh -j
	touch $@

.stamp-configure: .stamp-bootstrap
	@$(call show_vars)
	touch noreg
	cp debian/modules_.conf modules.conf
	./configure -C --enable-portable-binary --disable-dependency-tracking \
        --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
        --with-gnu-ld --with-erlang --with-openssl \
    --prefix=/usr \
    --sysconfdir=/etc/kazoo/freeswitch \
    --libdir=/usr/lib \
    --libexecdir=/usr/lib/freeswitch \
    --sharedstatedir=/usr/share/freeswitch \
    --localstatedir=/var/lib/freeswitch \
    --with-logfiledir=/var/log/freeswitch \
    --with-modinstdir=/usr/lib/freeswitch/mod \
    --with-rundir=/var/run/freeswitch \
    --with-dbdir=/var/lib/freeswitch/db \
    --with-soundsdir=/usr/share/freeswitch/sounds \
    --enable-core-libedit-support \
    --with-grammardir=/usr/share/freeswitch/grammar \
    --with-scriptdir=/usr/share/freeswitch/scripts \
    --with-recordingsdir=/var/lib/freeswitch/recordings \
    --with-certsdir=/etc/kazoo/freeswitch/certs \
    --with-pkgconfigdir=/usr/share/freeswitch/pkgconfig \
    --enable-zrtp

	touch $@

override_dh_auto_configure: .stamp-configure

.stamp-build: .stamp-configure
	@$(call show_vars)
	make
	touch $@

override_dh_auto_build: .stamp-build

override_dh_auto_test:

override_dh_strip:
	dh_strip -a -k
	./debian/util.sh create-dbg-pkgs

override_dh_auto_install:
	dh_auto_install

override_dh_installinit:
	dh_installinit -pkazoo-freeswitch --name=freeswitch

override_dh_makeshlibs:
	dh_makeshlibs
	sed \
      -e '/^libfreeswitch 1/{s/kazoo-freeswitch/libfreeswitch1/g}' \
      -i debian/kazoo-freeswitch/DEBIAN/shlibs

override_dh_gencontrol:
	sed -i 's/libfreeswitch1,//g' debian/kazoo-freeswitch.substvars
	dh_gencontrol

debian-bootstrap: debian/.stamp-bootstrap
debian/.stamp-bootstrap:
	(cd debian && ./kazoo-bootstrap.sh)
	touch $@

build-depends: debian/.stamp-build-depends
debian/.stamp-build-depends:
	./debian/util.sh install-build-depends
	touch $@

binary-basetest:
	@$(call show_vars)
	echo "applications/mod_commands" > debian/modules.conf
	(cd debian && ./kazoo-bootstrap.sh)
	dh binary

binary-quicktest:
	@$(call show_vars)
	echo "applications/mod_commands" > debian/modules.conf
	(cd debian && ./kazoo-bootstrap.sh)
	dh binary
